# À ignorer dans le répertoire `visualdata`
__pycache__
.mypy_cache
.pytest_cache
.trunk
.vscode
.vscode/launch.json
.vscode/settings.json
env
img
key
mypy.ini
# **/*.ini

# À ignorer dans le dossier `Projet_stage`
Projet_stage/__pycache__
Projet_stage/.github
Projet_stage/.pytest_cache
**/.pytest_cache
# Projet_stage/pytest.ini

# À ignorer dans le dossier `Projet_stage/backend`
Projet_stage/backend/__pycache__
Projet_stage/backend/script
Projet_stage\backend\script

# À ignorer dans le dossier `Projet_stage/backend/routers`
Projet_stage/backend/routers:/*__.py
Projet_stage/backend/cfg/*__.py

# À ignorer dans le dossier `Projet_stage/backend/modules`
/Projet_stage/backend/modules/__pycache
/Projet_stage/backend/modules/__pycache__/*


# À ignorer dans le dossier `Projet_stage/backend/tests`
# Projet_stage/backend/tests/

# À ignorer dans le dossier `Projet_stage/backend/tests/api`
Projet_stage/backend/tests/api

# À ignorer dans le dossier `Projet_stage/backend/tests/modules`
/Projet_stage/backend/tests/modules/__pycache__
/Projet_stage/backend/tests/modules/__pycache__/*


# Ignorer tout ce qui est cache
/__pycache__/
