.pytest_cache
.vscode
.vscode\launch.json
.vscode\settings.json
env
node_modules
notes_personnel
notes_personnel/note.md
notes_personnel/docker_commandes.md
Projet_stage/env
Projet_stage/__pycache__
Projet_stage/.github
Projet_stage/.pytest_cache
Projet_stage/.vscode
Projet_stage/src
Projet_stage/.coverage
Projet_stage/100%
apprentissage_de_l_usage_de_la_methode_de_umap.ipynb
package-lock.json
package.json
