addict
adjustText
alabaster
asttokens
attrs
babel
bcrypt
blinker
boltons
certifi
cffi
chardet
charset-normalizer
choreographer
click
colorama
colourmap
comm
ConfigArgParse
contourpy
coverage
cryptography
cycler
dash
datazets
debugpy
decorator
dill
docutils
doxypypy
executing
fastjsonschema
Flask
fonttools
gherkin-official
idna
imagesize
importlib_metadata
iniconfig
invoke
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kaleido
kiwisolver
llvmlite
logistro
lxml
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
narwhals
nbformat
nest-asyncio
numba
numpy
opencv-python
orjson
packaging
pandas
paramiko
parse
parso
patsy
pca
pdoc
pexpect
pillow
platformdirs
plotly
pluggy
plumbum
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
pydicom
pydoctest
Pygments
PyNaCl
pynndescent
pyparsing
pyquaternion
pytest
pytest-cov
pytest-timeout
python-dateutil
pytz
PyYAML
pyzmq
referencing
reportlab
requests
retrying
roman-numerals-py
rpds-py
rpyc
scatterd
schema
scikit-learn
scipy
seaborn
setuptools
simplejson
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
statsmodels
termcolor
terminaltables
testplan
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
tzlocal
umap
umap-learn
urllib3
validators
wcwidth
Werkzeug
wheel
widgetsnbextension
wordcloud
zipp
pyqt5
PyQt5-sip
