/* POPPINS FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --width-dashboard: calc(100% / 5);
    --width-dashboard-reduit: calc(100% / 30);
    --tw-bg-opacity: 1;
    --my_background_color: rgb(31 41 55/var(--tw-bg-opacity));
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--my_background_color);
}

.forgot-password_main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

button {
    width: 90%;
    height: 55px;
    border: none;
    border-radius: 30px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: aqua;
}

a:hover {
    text-decoration: underline;
    opacity: .8;
}

.form_container {
    position: relative;
    width: 500px;
    display: flex;
    color: white;
    padding: 5em 2.5em 1em;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 2px solid #f7f5f5c9;
}

.form_container:first-child,
.form_container> button {
    justify-content: center;
}

.forgot-password {
    /* border: 2px solid; */
    position: absolute;
    width: 300px;
    height: 50px;
    top: 0;
    display: flex;
    color: black;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    background-color: aqua;
}

.forgot-password > span,
button {
    font-weight: 500;
    font-size: x-large;
    align-self: center;
}

.forgot-password::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 aqua;
}

.forgot-password::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 0 0 0 aqua;
}

.box {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 20px 0;
}

.box > input {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background-color: #ffffff00;
    border: 2px solid;
    color: white;
    padding-inline: 20px 50px;
    border-radius: 30px;
    outline: none;

}

.box > label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: all .2s;
}

.box > input:focus ~ .label,
.box > input:valid ~ .label {
    position: absolute;
    top: -10px;
    left: 20px;
    color: black;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 30px;
    background-color: whitesmoke
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-me {
    display: flex;
    font-size: 15px;
    height: 25px;
    flex-direction: row;
    justify-content: center;
}

.remember-me>input {
    position: absolute;
    left: 40%;
    width: 16px;
    height: 100%;
}

.remember-me>label {
    top: 0;
    left: 45%;
}

[type="submit"] {
    font-size: 16px;
}

[type="submit"]:hover {
    opacity: .8;
}