/* POPPINS FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --width-dashboard: calc(100% / 5);
    --width-dashboard-reduit: calc(100% / 30);
    --tw-bg-opacity: 1;
    --my_background_color: rgb(31 41 55/var(--tw-bg-opacity));
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--my_background_color);
}

.singup_main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

button {
    width: 90%;
    height: 55px;
    border: none;
    border-radius: 30px;
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

a {
    text-decoration: none;
    color: aqua;
}

a:hover {
    text-decoration: underline;
    opacity: .8;
}

#loader-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-l {
    /* position: fixed; */
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0,0,.35);
}

.spinner {
    border: 2px solid rgba(104, 18, 222, 2);
    border-top-color: 5px rgb(31 41 55/var(--tw-bg-opacity)) solid;
    width: 50px;
    height: 50px;
    margin: 50px;
    border-radius: 50%;
    animation-name: spinner;
    animation-duration: .8s;
    animation-delay: .1ms;
    animation-iteration-count: infinite;
}
@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

.form_container {
    position: relative;
    width: 500px;
    display: flex;
    color: white;
    padding: 6em 2.5em 0em;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 1px solid #f7f5f5c9;
    box-shadow: 0 0 15px 0 rgb(124, 158, 214);
}

.form_container:first-child,
.form_container> button {
    justify-content: center;
}

.singUp {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 0;
    display: flex;
    color: black;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    background-color: aqua;
}

.singUp > span,
button {
    font-weight: 500;
    font-size: x-large;
    align-self: center;
}

.singUp::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 aqua;
}

.singUp::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 0 0 0 aqua;
}

.box {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 16px 0;
}

.box > input {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background-color: #ffffff00;
    border: 1px solid;
    color: white;
    padding-inline: 20px 50px;
    border-radius: 30px;
    outline: none;

}

.box > input:hover,
.box > input:focus {
    border: 1.4px solid;
    box-shadow: 0 0 15px 0 rgb(124, 158, 214);
}

.box > label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: all .2s;
}

.box > input:focus ~ .label,
.box > input:valid ~ .label {
    position: absolute;
    top: -10px;
    left: 20px;
    color: black;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 30px;
    background-color: whitesmoke
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    font-size: 15px;
    justify-content: space-evenly;
}

.forgot-password {
    position: absolute;
    float: right;
    right: 0;
}

[type="submit"] {
    font-size: 16px;
}

.compte-existant {
    text-align: center;
}