/* @import "login.css" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: rgb(21, 151, 225);
    --primary-text-color: #fff;
    --my-font-family: 'Poppins', sans-serif;
    --tw-bg-opacity: 1;
    --my_background_color: rgb(31 41 55/var(--tw-bg-opacity));
    /* --------- Dashboard style --------- */
    --dashboard-text-color: black;
    --dashboard-text-font-size: larger;
    --width-dashboard: calc(100% / 5);
    --width-dashboard-reduit: calc(100% / 30);
    --dashboard-btn-height-:40px; 
    --my_dashboard_background_color: aqua;
}
* {
    padding: 0;
    margin: 0;
    font-family: var(--my-font-family);
    box-sizing: border-box;
    background-color: var(--my_background_color);
}

/* ----------- Body ----------- */

body {
    width: 100vw;
    height: 100vh;
    color: var(--primary-text-color);
}

/* ------------------------------------ */
/* -------------- Header -------------- */

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10.8vh;
    display: flex;
    margin-bottom: 2px;
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid; */
}

.logo {
    position: absolute;
    left: 6vw;
    width: 65px;
    height: 100%;
    top: 1px;
    /* border: 2px solid; */
    /* background: red; */
}

.logo > a {
    display: block;
    width: 100%;
    height: 100%;
    /* border: 2px solid; */
}

a > img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

h1 {
    position: absolute;
    left: 35vw;
    /* right: 20vw; */
    align-self: center;
}

.compte-box {
    position: absolute;
    right: 20px;
    width: 60px;
    display: flex;
    float: right;
    height: 60px;
    border: 1px #fff solid;
}

/* ul {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
}

ul:hover {
    display: flex;
    cursor: pointer;
} */

/* --------------------------------------- */

/* -------------- Main -------------- */


main {
    position: relative;
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* -------------- Dashborad -------------- */

button {
    border: none;
    /* border-radius: 30px; */
}

#loader-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: .7;
    align-items: center;
    justify-content: center;
}

.modal-l {
    /* position: fixed; */
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0,0,.35);
}

.spinner {
    border: 2px solid rgba(104, 18, 222, 2);
    border-top-color: 5px rgb(31 41 55/var(--tw-bg-opacity)) solid;
    width: 50px;
    height: 50px;
    margin: 50px;
    border-radius: 50%;
    animation-name: spinner;
    animation-duration: .8s;
    animation-delay: .1ms;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

#dashboard {
    position: relative;
    padding: 0 6px;
    left: 0;
    overflow: auto;
    display: flex;
    width: var(--width-dashboard);
    flex-direction: column;
    height: 100%;
    border-right: 1px var(--my_dashboard_background_color) solid;
    background-color: var(--my_background_color);
}

.resize-dashboard {
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    z-index: 1;
    left: calc(var(--width-dashboard) - 1px);
    /* transform: scaleX(0); */
    transition: .3s;
    background-color: transparent;
}

.resize-dashboard:hover {
    cursor: ew-resize;
    /* border: 1px solid red; */
    background-color: var(--my_dashboard_background_color);
}

#open_dashboard_contener {
    position: relative;
    width: 34px;
    height: 30px;
    display: flex;
    top: 0.3em;
    cursor: pointer;
    align-items: center;
    border-radius: 3px;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: gray;
    align-self: self-end;
    opacity: .7;
}

#open_dashboard_contener:hover {
    opacity: 1;
    /* transform: rotate(15); */
}

#open_dashboard_contener>.barret:first-child {
    position: relative;
    top: 5px;
    rotate: 4 0 4 63deg;
    border: 1px solid aliceblue;
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

#open_dashboard_contener>.barret:nth-child(2) {
    display: none;
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

#open_dashboard_contener>.barret:last-child {
    position: relative;
    top: -6.1px;
    left: 1px;
    rotate: 4 0 5 -56deg;
    border: 1px solid aliceblue;
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.barret {
    position: relative;
    width: 2em;
    height: 0.1em;
    /* border-radius: 5px; */
    background-color: white;
}

.open_dashboard {
    /* width: var(--width-dashboard); */
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.close_dashboard {
    /* width: var(--width-dashboard-reduit); */
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_path_file {
    opacity: .9;
}

.btn_path_file:hover {
    opacity: 1;
}

/* ------------ box modal ------------ */

.box_modal,
.visualisation-box-modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
}

.myPopUp,
.form-visualisation {
    position: absolute;
    min-width: 800px;
    min-height: 450px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font: 900 xx-large var(--my-font-family), serif, sans-serif;
    background-color: var(--my_background_color);
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgb(124, 158, 214);
}

/* ----------- Close modal btn (X) ----------- */

.close-modal-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: transparent;
}

.closePopUp,
.visuale-closePopUp {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.closePopUp:hover,
.visuale-closePopUp:hover {
    cursor: pointer;
}

.closePopUp > i,
.visuale-closePopUp > i {
    border-radius: 50%;
}

/* ----------- Modal message ----------- */

.label-and-data-path-input {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100px;
    display: inline-block;
}


.label-and-data-path-input > label {
    display: flex;
    width: 100%;
    font-weight: 400;
    justify-content: center;
}

#url_or_filePath,
#filePath {
    display: flex;
    color: var(--primary-text-color);
    width: 80%;
    height: 55px;
    border: 1px solid #fff;
    outline: none;
    position: absolute;
    bottom: 0;
    left: 10%;
    font-size: 16px;
    border-radius: 30px;
    padding-inline-start: 20px;
    padding-inline-end: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--my_background_color);
}

#url_or_filePath:focus,
#url_or_filePath:hover,
#filePath:focus,
#filePath:hover {
    border: 2px solid #fff;
    box-shadow: 0 0 15px 0 rgb(124, 158, 214);
}

#url_or_filePath:-webkit-autofill,
#url_or_filePath:-webkit-autofill:hover,
#url_or_filePath:-webkit-autofill:focus,
#filePath:-webkit-autofill,
#filePath:-webkit-autofill:hover,
#filePath:-webkit-autofill:focus {
    border: 1px solid #fff;
    border-radius: 30px;
    caret-color: white;
    color: white;
    background-color: var(--my_background_color) !important;
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
    box-shadow: 0 0 15px 0 var(--my_background_color) inset;
}

.submition-btn {
    position: absolute;
    bottom: 70px;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[type="submit"],
[type="reset"] {
    width: 190px;
    height: 100%;
    display: flex;
    border: none;
    color: white;
    font-size: 28px;
    font-weight: 500;
    border-radius: 10px;
    transition: scale 99ms;
    background-color: var(--primary-color);
}

[type="submit"]:hover,
[type="reset"]:hover {
    cursor: pointer;
    opacity: .8;
    scale: .98;

}

/* --------------------------------- */

#reduction_methode_options {
    height: 2em;
    width: 100%;
    display: flex;
    background-color: aqua;
    text-align: center;
    font: bolder larger normal;
    border: none;
    opacity: .7;
    cursor: not-allowed;
}

#type_de_visualisation {
    height: var(--dashboard-btn-height-);
    width: 100%;
    display: flex;
    text-align: center;
    border: none;
    opacity: .7;
    outline: none;
    cursor: not-allowed;
    background-color: var(--my_dashboard_background_color);
    font: normal var(--dashboard-text-font-size) var(--my-font-family);
}

#type_de_visualisation:focus {
    border: none;
}

.infos_data {
    position: absolute;
    top: 131px;
    width: 95%;
    display: flex;
    align-items: center;
    opacity: .7;
    margin: 3px 0 0 0;
    height: var(--dashboard-btn-height-);
    justify-content: space-between;
    background-color: var(--my_dashboard_background_color);
}

.infos_data:hover {
    cursor: not-allowed;
}

.info-msg {
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: inherit;
}

.info-msg > span {
    background-color: transparent;
    color: var(--dashboard-text-color);
    font-size: var(--dashboard-text-font-size);
}

.info-items-icon {
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: #000000 solid 2px;
    background-color: inherit;
}

#up-icon-svg {
    width: 15px;
    height: 12px;
    rotate: 5 0 1 180deg;
    background-color: inherit;
}

#up-icon-svg > polyline {
    width: 100%;
    height: 100%;
    stroke: #000000;
    stroke-width: 30px;
    /* points: 168,321 218,250 266,321; */
}

.info-msg > i {
    position: absolute;
    float: right;
    right: 0;
    width: 20px;
    height: 20px;
}

.info-items {
    display: none;
    width: 100%;
    position: absolute;
    top: 40px;
    right: 0;
    /* height: 120px; */
    justify-content: center;
    align-items: flex-start;
}

/* .infos_data:hover .info-items {
    width: 100%;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
} */

[class^="items-"] {
    opacity: .7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--dashboard-text-color);
    background-color: var(--my_dashboard_background_color);
}

[class^="items-"]:hover {
    opacity: 1;
}

[class^="items-"] > span {
    position: relative;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: inherit;
}

[class^="items-"]:focus {
    background-color: red;
}
/* ----------------------------------------- */

/* --------- Affichage des figures -------- */

#contener {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-direction: column;
    background-color: var(--my_background_color);
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

#plot {
    position: relative;
    width: 99.6%;
    height: 60vh;
    overflow: auto;
    align-self: center;
    border-radius: 3px;
    display: flex;
    /* background-color: cadetblue; */
    /* text-align: center; */
    border: 1px solid aqua;
    justify-content: center;
    align-self: center;
}

.charge-data-message {
    position: absolute;
    width: 80%;
    /* height: 80%; */
    padding: 80px;
    display: flex;
    font-size: var(--dashboard-text-font-size);
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 2.5px #ccc dashed;
    transition: all 1s;
}

.charge-data-message:hover {
    cursor: pointer;
    border: 3px #d16666 dashed;
}

.iframe_contener {
    width: 100%;
    height: 100%;
    display: none;
    /* border: 2px solid red; */
}

/* .icon_importation_de_fichier::after {
    color: whitesmoke;
    content: ".csv, .json, .txt, .sql, . jpg, jpeg";
    display: flex;
    width: 4em;
    height: 3em;
    background-color: crimson;
} */

table {
    position: absolute;
    left: 0;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    /* text-align: center; */
}

th {
    background-color: #00cbff9c;
}

.chargement_de_fichier_contener {
    display: flex;
    position: relative;
    /* top: 1em; */
    margin-top: 1em;
    height: 45px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.btn_path_file {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    margin: 3px 0;
    background-color: var(--my_dashboard_background_color);
    font: var(--dashboard-text-font-size) normal;
}

.btn_path_file > span {
    color: var(--dashboard-text-color);
    background-color: transparent;
}

#reduction_methode_options {
    height: 50%;
    cursor: not-allowed;
    margin-bottom: 3px;
}

.resize-plot {
    height: 3px;
    width: 100%;
    background-color: transparent;
}

.resize-plot:hover {
    cursor: ns-resize;
    /* border: 1px solid red; */
    background-color: var(--my_dashboard_background_color);
}

.resumer_des_donnees {
    position: relative;
    width: 99.6%;
    height: 32%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: var(--my_background_color);
    border: 1px var(--my_dashboard_background_color) solid;
}

.all-infos-on-data,
.single-info-on-data,
.numerique_col {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--my_background_color);
    border: 1px var(--my_dashboard_background_color) solid;
}

.numerique_col {
    border: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.numerique_col>div:first-child {
    position: absolute;
    top: 0;
    font-size: x-large;
    width: 99%;
    display: flex;
    justify-content: center;
}

.num-col-items {
    width: 15%;
    height: 50%;
    position: relative;
    top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(--my_dashboard_background_color); */
}

.num-col-items > label {
    position: relative;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
}

.num-col-items > input {
    position: relative;
    bottom: 0;
    height: 20px;
    width: 100%;
}

.annuler-continuer {
    width: 99%;
    position: absolute;
    bottom: 2px;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
}

.annuler-continuer > input {
    opacity: .7;
    width: 190px;
    border: none;
    display: block;
    font-size: large;
    font-weight: 200;
    height: 100%;
    color: white;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.annuler-continuer > input:hover {
    cursor: pointer;
    opacity: 1;
    scale: .98;
    font-weight: 500;
}
/* ------------------------------------------- */