:root {
    --width-dashboard: calc(100% / 5);
    --width-dashboard-reduit: calc(100% / 30);
    --tw-bg-opacity: 1;
    --my_background_color: rgb(31 41 55/var(--tw-bg-opacity));
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 4em;
    margin-bottom: 2px;
    color: #ffffff;
    background-color: rgb(17 24 39/var(--tw-bg-opacity));
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 2px solid; */
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    left: 7vw;
    width: 4em;
    height: 100%;
    padding: 1px 0;
    /* background: red; */
}

.logo > img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

h2 {
    float: right;
    position: relative;
    right: 30vw;
    align-self: center;
    /* background-color: var(--my_background_color); */
}

body {
    background-color: var(--my_background_color);
}

main {
    position: relative;
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: aquamarine;
}

button {
    border: none;
    /* border-radius: 30px; */
}

#dashboard {
    position: relative;
    padding: 0 6px;
    left: 0;
    display: flex;
    width: var(--width-dashboard);
    flex-direction: column;
    height: 100%;
    border-right: 1px aqua solid;
    background-color: var(--my_background_color);
}

#open_dashboard_contener {
    position: relative;
    width: 34px;
    height: 30px;
    display: flex;
    top: 0.3em;
    cursor: pointer;
    align-items: center;
    border-radius: 3px;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: gray;
    align-self: self-end;
    opacity: .7;
}

#open_dashboard_contener:hover {
    opacity: 1;
    /* transform: rotate(15); */
}

#open_dashboard_contener>.barret:first-child {
    position: relative;
    top: 5px;
    rotate: 4 0 4 63deg;
    border: 1px solid aliceblue;
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

#open_dashboard_contener>.barret:nth-child(2) {
    display: none;
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

#open_dashboard_contener>.barret:last-child {
    position: relative;
    top: -6.1px;
    left: 1px;
    rotate: 4 0 5 -56deg;
    border: 1px solid aliceblue;
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.barret {
    position: relative;
    width: 2em;
    height: 0.1em;
    /* border-radius: 5px; */
    background-color: white;
}

.open_dashboard {
    /* width: var(--width-dashboard); */
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.close_dashboard {
    /* width: var(--width-dashboard-reduit); */
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_path_file {
    opacity: .9;
}

.btn_path_file:hover {
    opacity: 1;
}

.box_modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
}

.closePopUp {
    position: relative;
    top: -136px;
    left: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid aliceblue;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.closePopUp>span:first-child {
    rotate: 0 0 1 50deg;
    border: 1px solid aliceblue;
    position: relative;
    top: 7px;
}

.closePopUp>span:last-child {
    rotate: 0 0 1 -50deg;
    border: 1px solid aliceblue;
    position: relative;
    top: -7px;
}

.myPopUp {
    width: 60%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    color: #ffffff;
    border-radius: 40px;
    align-items: end;
    justify-content: center;
    font: bold 2em serif, sans-serif;
    background-color: var(--my_background_color);
}

.myPopUp > label {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 100;
    justify-content: center;
}

.myPopUp > input {
    width: 70%;
    height: 4em;
    border: none;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace, serif, sans-serif;
}

.myPopUp > button {
    position: relative;
    top: -2em;
    width: 40%;
    height: 4em;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    /* font-family: 'Courier New', Courier, monospace, serif, sans-serif; */
}

.myPopUp>button:hover {
    opacity: .8;
}

.myPopUp>button>span {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 2em serif, sans-serif;
    /* font-size: x-large; */
}

#reduction_methode_options {
    height: 2em;
    width: 100%;
    display: flex;
    background-color: aqua;
    text-align: center;
    font: bolder larger normal;
    border: none;
    opacity: .7;
    cursor: not-allowed;
}

#type_de_visualisation {
    height: 2em;
    width: 100%;
    display: flex;
    background-color: aqua;
    text-align: center;
    font: bolder larger normal;
    border: none;
    opacity: .7;
    cursor: not-allowed;
}

#type_de_visualisation:focus {
    border: none;
}

.infos_data {
    height: 2em;
    width: 100%;
    display: flex;
    background-color: aqua;
    text-align: center;
    font: bolder larger normal;
    align-items: center;
    opacity: .7;
    margin: 3px 0;
    justify-content: center;
}

.infos_data:hover {
    cursor: not-allowed;
}

#contener {
    display: flex;
    position: relative;
    float: right;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-direction: column;
    background-color: var(--my_background_color);
    transition: all 1s .1s cubic-bezier(0.4, 0, 0.2, 1);
}

#plot {
    position: relative;
    width: 99.6%;
    height: 60vh;
    overflow: auto;
    align-self: center;
    border-radius: 3px;
    display: flex;
    /* background-color: cadetblue; */
    /* text-align: center; */
    border: 1px solid aqua;
    justify-content: center;
    align-items: center;
    }

.loading_data_icon {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    /* border-style: dashed; */
    /* background-color: aquamarine; */
    content: "Veuillez glisser déposé un fichier d\'extension (.csv, .json, .text, .sql, .jpeg, .png)";
}

.loading_data_icon > div{
    position: relative;
    border-radius: 5px;
    width: 10%;
    height: 20%;
    display: flex;
    align-items: center;
    border-style: dashed;
    justify-content: center;
}

.icon_importation_de_fichier {
    position: relative;
    width: 4.5em;
    height: 5em;
    cursor: pointer;
}

.iframe_contener {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

/* .icon_importation_de_fichier::after {
    color: whitesmoke;
    content: ".csv, .json, .txt, .sql, . jpg, jpeg";
    display: flex;
    width: 4em;
    height: 3em;
    background-color: crimson;
} */

table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    /* text-align: center; */
}

th {
    background-color: #f2f2f2;
}

.chargement_de_fichier_contener {
    display: flex;
    position: relative;
    /* top: 1em; */
    margin-top: 1em;
    height: 5em;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* background: red; */
}

.btn_path_file {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bolder larger normal;
    cursor: pointer;
    /* border-radius: 25px; */
    height: 50%;
    background-color: aqua;
    margin: 3px 0;
}

#reduction_methode_options {
    height: 50%;
    cursor: not-allowed;
    margin-bottom: 3px;
}

.resumer_des_donnees {
    width: 99.6%;
    height: 30%;
    /* margin-top: 1em; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--my_background_color);
    border: 1px aqua solid;
}
